
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>


    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title> Best Blog </title>
    {% endif %}
</head>
<body>
    <div class="content-block">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
    </div>
</body>
</html>
