{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% block content %}

<div class="container">
    <form id="loginForm" class="text-center" method="post">
        {% csrf_token %}
        <h1>Вход</h1>
        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Имя пользователя">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль">
        </div>
        <div class="error-message">
            {% if form.errors %}
                <p>Неверное имя пользователя или пароль.</p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Войти</button>
        <br>
        <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться</a>
    </form>
</div>

{% endblock %}
